@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-gradient-purple-tr{
    @apply bg-clip-text text-transparent bg-gradient-to-tr from-[#B76BE9] to-[#570CB5];
  }

  .text-gradient-purple-br{
    @apply bg-clip-text text-transparent bg-gradient-to-br from-[#B76BE9] to-[#570CB5];
  }

  .text-gradient-purple-tl{
    @apply bg-clip-text text-transparent bg-gradient-to-tl from-[#B76BE9] to-[#570CB5];
  }

  .text-gradient-purple-bl{
    @apply bg-clip-text text-transparent bg-gradient-to-bl from-[#B76BE9] to-[#570CB5];
  }

  .text-gradient-purple-through{
    @apply inline-block bg-clip-text text-transparent bg-gradient-to-br from-[#570CB5] from-20% via-[#B76BE9] via-50% to-[#570CB5] to-90%;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #B76BE9;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #570CB5;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
