@import './base.css'; 

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent;
  }

  /* 🌈 Purple Gradients */
  .text-gradient-purple-tr {
    @apply text-gradient bg-gradient-to-tr from-[--accent-primary] to-[--accent-secondary];
  }

  .text-gradient-purple-br {
    @apply text-gradient bg-gradient-to-br from-[--accent-primary] to-[--accent-secondary];
  }

  .text-gradient-purple-tl {
    @apply text-gradient bg-gradient-to-tl from-[--accent-primary] to-[--accent-secondary];
  }

  .text-gradient-purple-bl {
    @apply text-gradient bg-gradient-to-bl from-[--accent-primary] to-[--accent-secondary];
  }

  .text-gradient-purple-through {
    @apply text-gradient bg-gradient-to-br from-[--accent-secondary] from-20% via-[--accent-primary] via-50% to-[--accent-secondary] to-90%;
  }

  /* 🔲 Background Classes */
  .bg-primary {
    @apply bg-[--background-primary];
  }

  .bg-secondary {
    @apply bg-[--background-secondary];
  }

  /* 🔤 Text Color Classes */
  .text-text {
    @apply text-[--text-primary];
  }

  .text-primary {
    @apply text-[--accent-primary];
  }

  .text-secondary {
    @apply text-[--accent-secondary];
  }

  .text-tertiary {
    @apply text-[--accent-tertiary];
  }
  
  .text-bg-primary {
    @apply text-[--background-primary]
  }

  .text-bg-secondary {
    @apply text-[--background-secondary]
  }

  /* ⚠️ Status Colors */
  .text-danger {
    @apply text-[--danger];
  }

  .text-caution {
    @apply text-[--caution];
  }

  .text-alert {
    @apply text-[--alert];
  }

  .text-success {
    @apply text-[--success];
  }

  /* 🔳 Border Colors */
  .border-primary {
    @apply border-[--accent-primary];
  }

  .border-secondary {
    @apply border-[--accent-secondary];
  }

  .border-tertiary {
    @apply border-[--accent-tertiary];
  }

  .border-bg-primary {
    @apply border-[--background-primary]
  }

  .border-bg-secondary {
    @apply border-[--background-secondary]
  }

  .border-danger {
    @apply border-[--danger];
  }

  .border-caution {
    @apply border-[--caution];
  }

  .border-alert {
    @apply border-[--alert];
  }

  .border-success {
    @apply border-[--success];
  }
}


@layer utilities {
  .u-disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #B76BE9;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #570CB5;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
